<!-- starter: Can Duy Cat
   owner: Can Duy Cat
   last update: 02-Sep-2015
   type: menu panel template -->

<ion-content class="easi-back-gray easi-no-border">
  <!-- user information -->
  <a class="item side-menu-item-user" menu-close>
    <h2>Some user detail here</h2>
  </a>

  <!-- ALL MENU ITEM -->
  <!-- item 1 -->
  <a class="item item-icon-left side-menu-item" ui-sref="#" menu-close>
    <i class="icon ion-android-more-horizontal"></i>
    <h2 class="easi-light-gray">Menu item 1</h2>
  </a>

  <!-- item 2 -->
  <hr class="side-menu-hr">
  <a class="item item-icon-left side-menu-item" ui-sref="#" menu-close>
    <i class="icon ion-android-more-horizontal"></i>
    <h2 class="easi-light-gray">Menu item 2</h2>
  </a>

  <!-- item 3 -->
  <hr class="side-menu-hr">
  <a class="item item-icon-left side-menu-item" ui-sref="#" menu-close>
    <i class="icon ion-android-more-horizontal"></i>
    <h2 class="easi-light-gray">Menu item 3</h2>
  </a>

  <!-- item 4 -->
  <hr class="side-menu-hr">
  <a class="item item-icon-left side-menu-item" ui-sref="#" menu-close>
    <i class="icon ion-android-more-horizontal"></i>
    <h2 class="easi-light-gray">Menu item 4</h2>
  </a>

  <!-- item 5 -->
  <hr class="side-menu-hr">
  <a class="item item-icon-left side-menu-item" ui-sref="#" menu-close>
    <i class="icon ion-android-more-horizontal"></i>
    <h2 class="easi-light-gray">Menu item 5</h2>
  </a>

  <!-- MENU SPLIT -->
  <p class="easi-light-gray side-menu-split">Some other item</p>
  <hr class="side-menu-split">

  <!-- other item 1 -->
  <a class="item item-icon-left side-menu-item" ui-sref="#" menu-close>
    <i class="icon ion-android-more-horizontal"></i>
    <h2 class="easi-light-gray">Other item 1</h2>
  </a>

  <!-- other item 2 -->
  <hr class="side-menu-hr">
  <a class="item item-icon-left side-menu-item" ui-sref="#" menu-close>
    <i class="icon ion-android-more-horizontal"></i>
    <h2 class="easi-light-gray">Other item 2</h2>
  </a>

  <!-- other item 3 -->
  <hr class="side-menu-hr">
  <a class="item item-icon-left side-menu-item" ui-sref="#" menu-close>
    <i class="icon ion-android-more-horizontal"></i>
    <h2 class="easi-light-gray">Other item 3</h2>
  </a>

  <!-- other item 4 -->
  <hr class="side-menu-hr">
  <a class="item item-icon-left side-menu-item" ui-sref="#" menu-close>
    <i class="icon ion-android-more-horizontal"></i>
    <h2 class="easi-light-gray">Other item 4</h2>
  </a>
</ion-content>
