<!-- starter: Can Duy Cat
   owner: Can Duy Cat
   last update: 02-Sep-2015
   type: sign in template -->

<ion-content class="easi-full-blue">
  <div id="name">
    <h2><span style="color:royalblue;">Trường</span> <span style="color:orangered;">Nhà</span></h2>
  </div>

  <form class="fo-form easi-dark-blue" method="POST" name="signInForm" data-ng-submit="signIn()">
    <div class="si-div">
      <label class="item item-input">
        <i class="icon ion-android-person placeholder-icon"></i>
        <input class="easi-dark-blue si-input" data-ng-model="user.id" type="text" name="id" placeholder="Tên người dùng" required autofocus>
      </label>
    </div>

    <div class="si-div fo-up">
      <label class="item item-input">
        <i class="icon ion-locked placeholder-icon"></i>
        <input class="easi-dark-blue si-input" data-ng-model="user.password" type="password" name="password" placeholder="Mật khẩu" required>
      </label>
    </div>

    <input class="button button-easi-blue fo-submit" type="submit" value="Đăng nhập">
  </form>

  <!-- links -->
  <div class="easi-dark-blue easi-center fo-links">
    <a>Giới thiệu</a>
  </div>
</ion-content>