/**
* starter: Can Duy Cat
* owner: Can Duy Cat
* last update: 02-Sep-2015
* type: side menu state css
*/

a.side-menu-item { background-color: #63666F; border: 0; color: #8B8E95; height: 50px; }
a.side-menu-item:active { background-color: #4A4F55; }
a.side-menu-item-user { background-color: #8EB4C1; height: 100px; }
a.side-menu-item-user h2 { color: #8B8E95; text-align: center; font-size: 24px;}
a.side-menu-item-user:active { background-color: #4A4F55; }
hr.side-menu-hr { border: 1px solid #8B8E95; margin: 0 auto 1px auto; width: 92%; }

/* for menu devider */
hr.side-menu-split { border: 1px solid #8B8E95; margin: 1px auto 1px auto; width: 95%; }
p.side-menu-split { font-size: 17px; margin: 5px 0 0 10px; }